@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --background-headings-buttons: hsl(0, 0%, 95%);
    --Font-Lexend: "Lexend Deca", sans-serif;
    --Font-Big-Shoulders: "Big Shoulders Display", cursive;
}

body {
    background-color: var(--background-headings-buttons);
    height: 100vh;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

p {
    color: var(--paragraphs);
    font-family: var(--Font-Big-Shoulders);
    font-weight: 400;
}

h1 {
    color: var(--background-headings-buttons);
    font-family: var(--Font-Lexend);
    font-weight: 700;
}

.container__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50em;
}

.container__card__sedans {
    background-color: var(--Bright-orange);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.container__card__suvs {
    background-color: var(--Dark-cyan);
}

.container__card__luxury {
    background-color: var(--Very-dark-cyan);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.container__card__luxury img,
.container__card__sedans img,
.container__card__suvs img {
    margin: 3em;
}

.container__card__luxury h1,
.container__card__sedans h1,
.container__card__suvs h1 {
    margin: 0 2em 0 1.5em;
}

.container__card__luxury p,
.container__card__sedans p,
.container__card__suvs p {
    margin: 3em 3em 0 3em;
    height: 10em;
}

.container__card__luxury button {
    color: var(--Very-dark-cyan);
}
.container__card__sedans button {
    color: var(--Bright-orange);
}

.container__card__suvs button {
    color: var(--Dark-cyan);
}

.container__card * button {
    font-size: 18px;
    padding: 1em 2em 1em 2em;
    border: 0px;
    border-radius: 2em;
    margin: 0 2em 2em 2em;
    border: 2px solid var(--background-headings-buttons);
}

.container__card * button:hover {
    color: var(--background-headings-buttons);
}

.container__card__luxury button:hover {
    background-color: var(--Very-dark-cyan);
}
.container__card__sedans button:hover {
    background-color: var(--Bright-orange);
}

.container__card__suvs button:hover {
    background-color: var(--Dark-cyan);
}

@media only screen and (max-width: 800px) {
    body {
        align-items: unset;
    }

    .container {
        max-width: 100%;
        margin: 1em 2em 1em 2em;
    }

    .container__card {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
        width: calc(100% - 2em);
        margin: 1em;
    }

    .container__card__sedans {
        border-radius: 0;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    .container__card__luxury {
        border-radius: 0;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
}
