@use "index" as *;

* {
    box-sizing: border-box;
    font-family: $Font-family;
}

body {
    font-size: $Font-size;
    text-align: center;
    margin: 1em;
    font-weight: 400;
    color: $Grayish-Blue;
    background-color: $Very-Light-Gray;
}

.container {
    &__text {
        .header {
            font-size: 1.5em;
            &--small {
                font-weight: 200;
            }
            &--big {
                font-weight: 600;
                color: $Very-Dark-Blue;
            }
        }
        p {
            margin: 1em;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4em;
        .card {
            text-align: right;
            margin: 0 1em;
            padding: 1em 2em 1em 2em;
            box-shadow: 0px 10px 20px 1px $Grayish-Blue;
            border-radius: 0.5em;
            width: calc(375px - 4em);

            &__middle {
                .card {
                    margin: 2em;
                }
            }

            &--supervisor {
                border-top: 5px solid $Cyan;
            }

            &--builder {
                border-top: 5px solid $Red;
            }

            &--karma {
                border-top: 5px solid $Orange;
            }

            &--calculator {
                border-top: 5px solid $Blue;
            }

            h2 {
                color: $Very-Dark-Blue;
            }

            p {
                font-size: 13px;
            }

            h2,
            p {
                text-align: left;
                margin-top: 0em;
                margin-bottom: 0em;
            }

            img {
                margin: 1em 0;
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        &__text {
            .header {
                font-size: 2em;
            }
            p {
                width: 35em;
                margin: 0 auto;
            }
            margin-bottom: 2em;
        }
        &__cards {
            margin-top: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            > * {
                margin: 0;
            }
            .card {
                &__left {
                    margin-left: auto;
                }
                &__right {
                    margin-right: auto;
                }
            }
        }
    }
}
