@use "sass:map";

$breakpoints: (
    small: 45em,
    medium: 65em,
);

@mixin mq($key) {
    $size: map.get($breakpoints, $key);

    @media screen and (min-width: $size) {
        @content;
    }
}
