@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$ff: "Nunito Sans", sans-serif;
$fs-h: 14px; // Homepage Items
$fs-d: 16px; // Detail Page
$fw-3: 300;
$fw-6: 600;
$fw-8: 800;
