@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$ff-heading: "Poppins", sans-serif;
$ff-body: "Open Sans", sans-serif;
$fw-h-4: 400;
$fw-h-6: 600;
$fw-b-4: 400;
