@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

$fs: 18px; // (card titles e.g. Work, Play)
$ff: "Rubik", sans-serif;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
