@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");

:root {
    --font-family: "Rubik Beastly", cursive;
    --Gradient-from: hsl(6, 100%, 80%);
    --Gradient-to: hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(./images/bg-desktop.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: var(--Very-Dark-Blue);
    font-size: 14px;
    color: var(--Grayish-Blue);
}

.container {
    display: flex;
    height: 18em;
}

.container__left {
    background-color: var(--Dark-Blue);
    margin-right: 1em;
    height: 10em;
    width: 25em;
    border-radius: 1em 10em 1em 1em;
    padding: 2em;
    margin-top: auto;
    margin-right: 2em;
}

.container__left__bottom div {
    height: 2em;
    width: 2em;
    padding: 1em;
    background-color: var(--Very-Dark-Blue);
    border-radius: 1em;
    margin: 0 1em 0 0;
}

.container__left__top {
    margin: 1em 0 0 2em;
}

.container__left__bottom {
    margin: 2em;
    display: flex;
}

.container__left__bottom__document {
    background-image: url(./images/icon-document.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.container__left__bottom__folder {
    background-image: url(./images/icon-folder.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.container__left__bottom__upload {
    background-image: url(./images/icon-upload.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.container__right {
    margin-top: auto;
}

.container__right__topL {
    background-color: var(--Dark-Blue);
    height: 10em;
    width: 50em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.container__right__topR {
    width: 50em;
}

.container__right__topR__box {
    width: 15em;
    height: 6em;
    background: white;
    border-radius: 1em;
    margin-left: auto;
    margin-right: 3em;
    position: relative;
    top: 2em;
}

.container__right__topR__box__triangle {
    width: 0;
    height: 0;
    border-top: 2.5em solid white;
    border-left: 2.5em solid transparent;
    position: absolute;
    right: 0;
    top: 4.5em;
}

.container__right__topR__box__text {
    display: flex;
    margin: 0 1em 0 1em;
    justify-content: space-around;
    height: 5em;
    position: relative;
}

.container__right__topR__box__text h2 {
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}

.container__right__topR__box__text p {
    font-size: 20px;
}

.container__right__topL__top {
    padding-left: 2em;
    padding-right: 2em;
}

.container__right__topL__top p span {
    color: white;
}

.container__right__topL__bar {
    padding-right: 3em;
    margin-left: 2em;
    height: 1em;
    width: 85%;
    background-color: var(--Very-Dark-Blue);
    border-radius: 2em;
    position: relative;
}

.container__right__topL__bar__gradient {
    height: 1em;
    width: 75%;
    background-image: linear-gradient(to right, var(--Gradient-from), var(--Gradient-to));
    margin: 0;
    padding: 0;
    border-radius: 2em;
    position: absolute;
}

.container__right__topL__bar__gradient__dot {
    background-color: white;
    border-radius: 100%;
    height: 0.8em;
    width: 0.8em;
    position: absolute;
    right: 0.1em;
    top: 0.1em;
}

.container__right__topL__bottom {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    color: white;
}

.container__right__topL__bottom :last-child {
    margin-left: auto;
}
