@import url(https://fonts.google.com/specimen/Outfit);

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Font-size: 18px;
    --Weights-300: 300;
    --Weights-400: 400;
    --Weights-600: 600;
}

body {
    background-color: var(--Very-dark-blue-main-BG);
    color: var(--White);
    font-size: var(--Font-size);
    color: var(--Soft-blue);
}

h3 {
    text-align: left;
    color: var(--White);
}

span {
    color: var(--White);
}

.container {
    background-color: var(--Very-dark-blue-card-BG);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 320px;
    border-radius: 5%;
    justify-content: center;
}

.equilibrium {
    width: 300px;
}

.description {
    text-align: left;
}

.avatar {
    height: 40px;
    border: 1px solid var(--White);
    border-radius: 100%;
}

.creation {
    display: flex;
}

.amounts {
    display: flex;
}

.ethereum {
    display: flex;
    height: 18px;
}

.clock {
    margin-left: auto;
    height: 17px;
}

.split {
    border: 1px solid var(--Very-dark-blue-line);
}
