@use "index" as *;

* {
    box-sizing: border-box;
    font-family: $Font-family;
}

body {
    background-color: $Light-grayish-blue;
    font-size: $Font-size;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: center;
    .card {
        border-radius: 1em;
        margin: 2em 1em;
        padding: 2em;
        width: calc(375px - 4em);
        font-weight: 600;
        &__grid {
            margin: 1em;
        }
        &--clifford {
            background-image: url(../images/bg-pattern-quotation.svg);
            background-repeat: no-repeat;
            background-position: 90% 0;
            background-color: $Moderate-violet;
            color: $White;
            .image {
                img {
                    border: 2px solid lighten($Moderate-violet, 15%);
                }
            }
            .paragraph {
                opacity: 0.3;
            }
        }
        &--walters {
            background-color: $Very-dark-grayish-blue;
            color: $White;
            .image {
                img {
                    border: 2px solid $White;
                }
            }
            .paragraph {
                opacity: 0.7;
            }
        }
        &--harmon {
            background-color: $White;
            color: $Very-dark-grayish-blue;
            .image {
                img {
                    border: 2px solid $White;
                }
            }
            .paragraph {
                opacity: 0.7;
            }
        }
        &--abrams {
            background-color: $Very-dark-blackish-blue;
            color: $White;
            .image {
                img {
                    border: 2px solid $Moderate-violet;
                }
            }
            .paragraph {
                opacity: 0.7;
            }
        }
        &--whittle {
            background-color: $White;
            color: $Very-dark-grayish-blue;
            .image {
                img {
                    border: 2px solid $White;
                }
            }
            .paragraph {
                opacity: 0.7;
            }
        }
        &__review {
            .header {
                font-size: 1.5em;
            }
        }
        &__info {
            display: flex;
            .image {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    border-radius: 100%;
                    width: 2.5em;
                    height: 2.5em;
                }
            }
            .data {
                margin-left: 1em;
                display: flex;
                flex-direction: column;
                line-height: 0;
                .graduate {
                    opacity: 0.5;
                }
            }
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    .container {
        width: 100%;
        height: 100%;
        .card {
            margin: 1em;
            width: unset;
            height: unset;
            &__grid {
                width: 80em;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
            &--clifford {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }
            &--walters {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }
            &--harmon {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
            &--abrams {
                grid-column: 2 / 4;
                grid-row: 2 / 3;
            }
            &--whittle {
                grid-column: 1 / 4;
                grid-row: 3 / 4;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    .container {
        align-items: center;
        width: 100%;
        height: 100%;
        .card {
            margin: 1em;
            width: unset;
            height: unset;
            &__grid {
                width: 80em;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
            &--clifford {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }
            &--walters {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }
            &--harmon {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
            &--abrams {
                grid-column: 2 / 4;
                grid-row: 2 / 3;
            }
            &--whittle {
                grid-column: 4 / 5;
                grid-row: 1 / 3;
            }
        }
    }
}
